
/* Navigation Bar */

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
}

.rightnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  z-index: 100;
}
.abt {
  font-size: 1.5rem;
}
.abt:hover{
  text-decoration: underline;
}
/* Button */
.btn {
  font-size: 1.5rem;
  padding: 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
}
.btn:hover {
  background-color: #63A375;
}
.hashbtn {
  font-size: 1.5rem;
  padding: 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
}

.hashbtn:hover {
  background-color: red;
}

/* Main Page */

.container {
  overflow: hidden;
  margin: auto auto;
  padding: 100px;
  /* width: 70%; */
  height: calc(100vh - 80px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 100px; */
}

.container > p{
  padding: 200px;
}

